
    <%- include ("./chablon/head.ejs") %>

    <body>
        <%- include ("./chablon/nav.ejs") %>
    <!-- <div class="container" id="app">
        <main>            
            <div class="row"> -->
                <div class="col-md-8">
                    <form method="get" action="http://localhost:3000/api/v1/users/1">
                        <div class="form-group">
                            <label for="name">id</label>
                          <input type="text" class="form-control" name="id" placeholder="id">
                          <br>

                          <div>
                            <p>Name: </p>
                            <p for="name"><%= name %></ли>
                          </div>
                          
                          <br>
                          
                          <div>
                            <p>Email: </p>
                            <p for="email"><%= email %></p>
                          </div>
                          <br>

                          <div>
                            <p>Phone: </p>
                            <p for="name"><%= phone %></p>
                          </div>

                          <br>
                          <div>
                            <p>Image: </p>
                            <p for="img"><%= photo %></p>
                          </div>
                        </div>
    
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
                    </form>

                    
                </div>
    <%- include ("./chablon/footer.ejs") %>
    